.footer{

	background-color: $blue22;
	@include span-columns(12);


	h3	{
		width: 10em;
		color:$orange2;
		font-family: $font1;
		letter-spacing: 1.5px;
		border-bottom: 1.5px solid $orange2;
	}
	a, a:visited{
		text-decoration:none;
		color:$orange2;
		font-family: $font2;
	}
	a:hover {
		color: white;
	}
	li{ 
		list-style: none;
	} 
	.left-foot{
		@include shift(1.5);
		@include span-columns(3 of 12);

	}
	.mid-foot{
		@include span-columns(3 of 12);
		input{
			width: 9em;
			font-size: 1.3em;
			border: none;
			border:none;
			outline:none;
		}
		input:focus{
			box-shadow: 0 0 2px $orange2;

		}
	
	}
	.right-foot{
		@include span-columns(3 of 12);
	
	}
	p{
		margin:0;
		margin-left:3em;
		@include span-columns(11 of 12);
		color: $orange2;
		color: white;
		font-family: $font3;
	}

	.left-foot, .mid-foot, .right-foot, p{
		@include media($mobile){
			@include span-columns(4 of 4);
			@include shift(0);
			text-align:right;
			padding-left: 10px;
			padding-right: 80px;
		}
	}
		
}