//colors


$orange1: #FF8A46 ;
$blue1: #2068B2;


$orange2: #FFA02A;
$blue2: #47A2FF ;

$blue22: #4193E8;

$blue3: #2BCBFF ;

$font1: 'Paytone One', sans-serif;
$font2: 'Signika', sans-serif;
$font3:  'Josefin Sans', sans-serif;

input, textarea{
	border: 1px solid $orange2;
	outline: none;
}
input:focus, textarea:focus{
	box-shadow: 0 0 2px $orange2;
	border: 1px solid $orange2;
}
button{
	border:none;
	background-color: $orange2;
	color:white;
	font-family: $font2;
	padding:5px;
}
button:hover{
	background-color: $blue2;
}