.nav {
	@include media($mobile) {
		height: 10em;
		.title{
			display:block;
			text-align:center;
			font-size: 2.4em;
		}
		
	}
	height: 3em;
	background-color:$blue22; 
	color: $orange2;
	font-family: $font1;

	a, a:visited {
		vertical-align: middle;
		margin-left: .5em;
		color: $orange2;
		text-decoration: none;
		font-size: 1.5em; 
	}
	a:hover{
		color: $orange1;
	}

	.search{
		font-size: 1.2em; 
		border:none;
		vertical-align: middle;
		margin-left: 5em;
		width: 10em;
		outline:none;
		@include media($mobile) {
			margin-bottom: 5px;
			@include span-columns(2);
			@include shift(1);
		}
	}
	.btn-search{
		height: 2.3em;
		border: 2px solid $orange2;
		background-color: $blue2;
		color: $orange2;
		font-family: $font1;

	}
	#nav-search-submit-text{
		background-image: url("/images/search.png");
		height: 3em;
		width: 5em;
	}
	.cart{
		width:4em;
		font-size: 1em;
		@include media($mobile) {
			margin-bottom: 5px;
			@include span-columns(2);
			@include shift(1);
			margin-top:10px;
		}
	}


}
.user-nav{
	float:right;
}