.left-section{
	@include span-columns(4 of 12);
	@include media($tablet){
		@include span-columns(4 of 8);

	}
	margin-left: 10px;
	.product-name{ 
		font-family: $font1;
		color: $orange1;
	}
	.product-tag{
		font-size: .7em;
		margin-right:.5em;
		font-family: $font3;
		color: $blue22;
		display: inline-block;
	}
	.description{
		font-size: 1em;
		font-family: $font3;
		color: $blue1;
		line-height:1.5em;
	}
}
.middle-section{
	@include span-columns(4 of 12);
	@include media($tablet){
		@include span-columns(4 of 8);
	}
	.thumbs{ 
		p{
			display: inline-block;
			vertical-align: middle;
		}
		display: inline-block;
		img{
			width: 40px;
			opacity: .6;
			margin-right: 20px;
		}
		img:hover{
			opacity: .9;
		}
	}
	.full-image{
		display: inline-block;
		
		img {
			width: 300px;
		}
	}
}
.right-section{
	margin-top:1em;
	height:15em;
	border: 1px solid $orange1; 
	@include span-columns(3 of 12);
	button{
		border:none;
		background-color: $blue22;
		color:white;
		font-family: $font3;
		font-size: 1em;
		padding:5px;

	}
	.btn, add-to-cart {
		display:block;
		text-align: center;
		margin: 1em auto 0 auto;
		background-color: $blue2;
		color:white;
		border:none;
		padding: 5px;
		font-family: $font3;
		font-size: 1em;
	}
	.add-to-wishlist{
		background-color: $orange1;
	}
	.quantity {
		color: $orange1;
		font-family: $font3;
		margin: 1em auto 0 auto;
		text-algin:center;
		margin-left:4.5em;
		input{
			font-size: 2em;
			width: 1.5em;
			margin-left:.5em;
			vertical-align:text-top;
		}
	}
	.price {
		margin-left:3em;
		font-family: $font3;
		color: $orange1;
		.price-value{
			font-size: 2em;
			vertical-align:text-top;
			color: $blue22;
		}
	}
}
.reviews{
	@include span-columns(12 of 12);

	.review-card {
		margin: 10px;
		@include span-columns(4);
		@include media($mobile){
			@include span-columns(4 or 4);
			margin:0;
		}
		@include media($tablet){
			@include span-columns(8 of 8);
			@include shift(0);
			margin:0;
		}
		
	}
	h2{
		margin-left:3em;
		color: $orange2;
		font-family: $font1;
		letter-spacing: 1.3px;
		text-decoration: underline;
	}

	.review-title{
		color: $blue2;
		font-family: $font3;
		font-size: 2em;
		text-align:center;
		margin-bottom: 0;
	}
	p{
		display:inline-block;
	}
	.review-date{
		display:block;
		font-family: $font3;
		font-size: .6em;
		text-align: right;
		margin:0;
	}
	
	.review-user-name{
		margin: 0;
		display: block;
		text-align: right;
		font-family: $font3;
		font-size: .9em;
		color: $orange2;

	}
	.review-content{
		display: block;
	}
	.review-content{
		outline:none;
		margin: .2em 0 .2em 0;
		padding: 3px;
		height: 8em;
		width:100%;
		background-color: $blue22;
		color:white;
		font-family: $font3;
	}
	.review-content:focus{
		outline:none;
	}
	.star{
		font-size:1em;
		font-family: $font1;
		display: inline-block;
		color:$orange1;
		text-align:left;
		margin:0;
	}
	.recommended{
		display: inline-block;
		margin:0;
		font-family: $font1;
		color: $blue1;
		
	}
}
.create-review{
	@include shift(2.5);
	@include span-columns(8 of 12);
	font-family: $font1;
	color: $blue1;
	select {
		display:block;
		width:40px;
	}
	.content-area{
		display: block;
		width:40em;
		height:20em;
		
	}
	.input-name {
		display:block;
		clear:both;
		height:2em;
	}
}
.left-section, .middle-section, .right-section, .reviews, .create-review{
	@include media($mobile){
		@include span-columns(4 of 4);
		padding: 3px;
		margin:0;
	}
}
.middle-section, .right-section{
	@include media($tablet){
		@include span-columns(4 of 8);
		padding: 3px;
		margin:0;
	}
	@include media($mobile){
		@include span-columns(4 of 4);
		padding: 3px;
		margin:0;
	}
}
.create-review{
	@include media($mobile){
		textarea{
			width:400px;
		}
		.content-area {
			@include span-columns(4 of 4);

		}
	}
	@include media($tablet){
		textarea, .content-area{
			@include span-columns(8 of 8);
			clear:both;
		}
		.create-review {
			@include span-columns(8 of 8);
			
		}
	}
}