.left-section{
	@include span-columns(4 of 12);
	margin-left: 10px;
	.product-name{ 
		font-family: $font1;
		color: $orange1;
	}
	.product-tag{
		font-size: .7em;
		margin-right:.5em;
		font-family: $font3;
		color: $blue22;
		display: inline-block;
	}
	.description{
		font-size: 1em;
		font-family: $font3;
		color: $blue1;
		line-height:1.5em;
	}
}
.middle-section{
	@include span-columns(4 of 12);
	.thumbs{ 
		p{
			display: inline-block;
			vertical-align: middle;
		}
		display: inline-block;
		img{
			width: 40px;
			opacity: .6;
			margin-right: 20px;
		}
		img:hover{
			opacity: .9;
		}
	}
	.full-image{
		display: inline-block;
		
		img {
			width: 300px;
		}
	}
}
.right-section{
	margin-top:1em;
	height:15em;
	border: 1px solid $orange1; 
	@include span-columns(3 of 12);
	button{
		border:none;
		background-color: $blue22;
		color:white;
		font-family: $font3;
		font-size: 1em;
		padding:5px;

	}
	.btn, add-to-cart {
		display:block;
		text-align: center;
		margin: 1em auto 0 auto;
	}
	.add-to-wishlist{
		background-color: $orange1;
	}
	.quantity {
		color: $orange1;
		font-family: $font3;
		margin: 1em auto 0 auto;
		text-algin:center;
		margin-left:4.5em;
		input{
			font-size: 2em;
			width: 1.5em;
			margin-left:.5em;
			vertical-align:text-top;
		}
	}
	.price {
		margin-left:3em;
		font-family: $font3;
		color: $orange1;
		.price-value{
			font-size: 2em;
			vertical-align:text-top;
			color: $blue22;
		}
	}
}
.reviews{
	@include span-columns(12 of 12);

	.review-card {
		@include span-columns(3);
		margin: 10px;
	}
	h2{
		margin-left:3em;
		color: $orange2;
		font-family: $font1;
		letter-spacing: 1.3px;
		text-decoration: underline;
	}

	.review-title{
		color: $blue2;
		font-family: $font3;
		font-size: 2em;
		text-align:center;
		margin-bottom: 0;
	}
	p{
		display:inline-block;
	}
	.review-date{
		display:block;
		font-family: $font3;
		font-size: .6em;
		text-align: right;
	}
	
	.review-user-name{
		margin-top: 0;
		display: block;
		text-align: right;
		font-family: $font3;
		font-size: .9em;
		color: $orange2;

	}
	.review-content{
		display: block;
	}
	.review-content{
		padding: 5px;
		font-family: $font3;
	}
	.star{
		background-color: $blue1 ;
		height:1em;
		width:1em;
		display: inline-block;
		margin:3px;
	}


}