
<div class="banner">
	<h1 class="banner-text">Find the perfect <br>gift! </h1>
</div>

<div class="sale">
	<h2>On Sale</h2>
	<div class="gallery"> 
		<li ng-repeat="product in products">
			<a href="/products/{{product._id}} ">
			<div class="product-sale-card" ng-show="product.sale" > 
				<h3>{{ product.name }} </h3>
				<p class="brand" >by {{ product.brand }} </p>
				<img src="{{product.images[0].full}} ">
				<p class="sale-tag" > {{product.productTags[0]}} </p>
				<p class="sale-price" >now {{ product.price | currency }} </p>
				<button class="add-to-cart" >add to cart</button>

			</div>
			</a>
		</li>
	</div>
</div>

<div class="all-products">
	<h2 class=" header" >All Products <input ng-model="searchText"> </h2>
	<hr>
	<li ng-repeat="product in products | filter:searchText ">
		<div class="product-sale-card"  > 
				<a href="/products/{{product._id}} ">
				<h3>{{ product.name }} </h3>
				<p class="brand" >by {{ product.brand }} </p>
				<img src="{{product.images[0].full}} ">
				<p class="sale-tag" > {{product.productTags[0]}} </p>
				<p class="sale-price" >{{ product.price | currency }} </p>
				<button class="add-to-cart" >add to cart</button>
			</a>

			</div>
	</li>
</div>