<div class="left-section">
	<h1 class="product-name">{{product.name}}</h1>
	<p class="product-tag" ng-repeat="productTags in product.productTags">{{ productTags }} </p>
	<p class="description">{{product.description}}	</p> 
</div>
<div class="middle-section">
	<div class="thumbs"><p ng-repeat="images in product.images"><img src="{{ images.full}}"> </p></div>
	<div class="full-image"><img src="{{ product.images[0].full}}"> </div>
	

</div>


<div class="right-section">
	<p class="price">price: <span class="price-value">{{ product.price | currency}}</span> </p>

	<form name="addToCartForm" ng-controller="CartController as cartsCtrl" ng-submit="addCart(product)">
	<p class="quantity"> Qty
	<select name="quantity" required>
			<option value="1"> 1 </option>
			<option value="2"> 2 </option>
			<option value="3"> 3 </option>
		</select></p>  
	<button class="btn add-to-cart">add to cart</button>
	<input type="submit" value="add to the cart">
	</form>

	<button class="btn add-to-wishlist">add to wishlist</button>



</div>
<div class="reviews">
	<h2>Reviews</h2>
	<div ng-repeat="review in product.reviews" class="review-card">
		<h3 class="review-title">{{ review.title}}</h3>
		<p class="review-user-name">by {{review.userName}}</p>
		<p class="review-date"> {{ review.date}}</p>
		<div class="star" ng-repeat="stars in review">  </div>
		{{ review.stars}}
		<hr>
		<div class="star" ng-repeat="stars in review">{{review.stars}}  </div>
		{{ review.stars}}poo
		<hr>
		{{ review.stars }} of 5
		<p class="review-content">{{ review.content}}</p>
		<p class="recommended"> reccommended: {{ review.reccomend}}</p>
		<div>
			{{ review.helpful}}
			<button> helpful</button>
			<button> not</button>
		</div>
	</div>
	<h3>add review</h3>
	<form name="reviewForm" novalidate>
		<select  required>
			<option value="1"> 1 star</option>
			<option value="2"> 2 star</option>
			<option value="3"> 3 star</option>
		</select>
		<textarea name="content"  required> </textarea>
		<input name="userName"  type="email" required>
		<div >reviewForm is {{ reviewForm.$valid }}</div>
		<input type="submit" value="submit">
	</form>
</div>


